1.2.1 Пример
Создать массив 5x2. Создать массив 5x2. Вывести все значения массива,
значение элемента с индексом (3,1) и второй столбец. Индексация
начинается с нуля

In [2]:
import numpy as np
x = np.array(([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]))
print(x)
print(x[3][1])
print(x[1])

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]
8
[3 4]

1.2.2 Пример
Пример. Выполнить следующее:
1. Создать вектор (одномерный массив) размера 10, заполненный
нулями.
2. Создать вектор размера 10, заполненный единицами.
3. Создать вектор размера 10, заполненный заданным числом.
4. Создать вектор со значениями от 10 до 19.

In [3]:
a = np.zeros(10)
b= np.ones(10)
c = np.full(10, 5)
d = np.arange(10, 20)
print(a, "\n", b, "\n", c, "\n", d)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [5 5 5 5 5 5 5 5 5 5]
 [10 11 12 13 14 15 16 17 18 19]

1.2.3 Пример
Создать массив 10x10 со случайными значениями, найти минимум,
максимум и среднее значение.

In [5]:
Z = np.random.random((10, 10))
Zmin, Zmax, Zmean = Z.min(), Z.max(), Z.mean()
print(Zmin, Zmax, Zmean)

0.019159381909251372 0.9997798474483653 0.5515045901492135

1.2.4 Пример
Задать матрицу размерности 5 на 5 и поменять 2 строки в матрице
местами.

In [6]:
A = np.arange(25).reshape(5,5)
A[[0, 1]] = A[[1, 0]]
print(A)

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

1.2.5 Пример
Выяснить результат следующих выражений:
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
0.3 == 3 * 0.1

In [7]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.nan > np.nan)
print(np.nan - np.nan)
print(0.3 == 3 * 0.1)

nan
False
False
nan
False

1.2.6 Пример
Отсортировать массив

In [8]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
print(np.sort(arr))

[1 2 3 4 5 6 7 8]

1.3.1 Задание
Задача:
Создать 8x8 матрицу и заполнить её в шахматном порядке нулями и
единицами.

In [18]:
import numpy as np

matrix = [[0 for j in range(8)] for i in range(8)]

for i in range(8):
    for j in range(8):
        if (i+j) % 2 == 0:
            matrix[i][j] = 1

print(np.array(matrix)[::-1])

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

1.3.2 Задание
Задача:
Создать 5x5 матрицу со значениями в строках от 0 до 4. Для создания
необходимо использовать функцию arrange

In [10]:
import numpy as np

matrix = np.arange(5).reshape(1, 5) + np.arange(5).reshape(5, 1)
print(matrix)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]
 [3 4 5 6 7]
 [4 5 6 7 8]]

1.3.3 Задание
Задача:
Создать массив 3x3x3 со случайными значениями.

In [14]:
import numpy as np

array = np.random.rand(3, 3, 3)
print(array)

[[[0.13261212 0.93815662 0.57570972]
  [0.56893314 0.2591488  0.82044361]
  [0.49013304 0.86069846 0.62652823]]

 [[0.48152564 0.5069605  0.46876589]
  [0.52742771 0.65714306 0.74700063]
  [0.66432818 0.48189184 0.12235796]]

 [[0.9081596  0.87108479 0.55640712]
  [0.75041129 0.48934145 0.95366531]
  [0.6555586  0.82896842 0.67124831]]]

1.3.4 Задание
Задача:
Создать матрицу с 0 внутри, и 1 на границах.

In [13]:
import numpy as np

n = 5
matrix = np.ones((n, n))
matrix[1:-1, 1:-1] = 0

print(matrix)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

1.3.5 Задание
Задача:
Создайте массив и отсортируйте его по убыванию.

In [12]:
import numpy as np

arr = np.array([4, 1, 3, 2, 5])
arr_sorted = np.sort(arr, kind='quicksort')[::-1]

print(arr_sorted)

[5 4 3 2 1]

1.3.6 Задание
Задача:
Создайте матрицу, выведите ее форму, размер и размерность.

In [2]:
import numpy as np

matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(matrix)

shape = matrix.shape
size = matrix.size
ndim = matrix.ndim
print(f"Форма матрицы: {shape}")
print(f"Размер матрицы: {size}")
print(f"Размерность матрицы: {ndim}")

[[1 2 3]
 [4 5 6]
 [7 8 9]]
Форма матрицы: (3, 3)
Размер матрицы: 9
Размерность матрицы: 2

2.2.1 Пример
Задача:
Создать Series из списка Python, словаря Python, и массива Numpy
(установить буквенные метки для последнего).

In [3]:
import numpy as np
import pandas as pd
lst = [1, 2, 3, 4, 5]
d = {'a':1, 'b':2, 'c':3}
ndarr = np.array([1, 2, 3, 4, 5])

s1 = pd.Series(lst)
s2 = pd.Series(d)
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])

print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int32

2.2.2 Пример
Задача:
Дано два Series. Напечатать их первые элементы и все элементы после
третьего (во втором фрейме).

In [4]:
s1 = pd.Series([1,2,3,4,5], ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([5, 4, 3, 2, 1])
print(s1['a'])
print(s2[0])
print(s2[3:])

1
5
3    2
4    1
dtype: int64

2.2.3 Пример
Задача:
Создайте новый фрейм данных.

In [5]:
dataframe = pd.DataFrame()
dataframe['Имя'] = ['Джеки Джексон', 'Стивен Стивенсон']
dataframe['Возраст'] = [38, 25]
dataframe['Водитель'] = [True, False]
dataframe

                Имя  Возраст  Водитель
0     Джеки Джексон       38      True
1  Стивен Стивенсон       25     False

2.2.4 Пример
Задача:
Загрузите фрейм данных по ссылке:
https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titan
ic.csv

In [4]:
# Создать URL-адрес
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'
# Загрузить данные
dataframe = pd.read_csv(url)
# Показать пять строк
dataframe.head(5)

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

2.2.5 Пример
Задача:
Пронализировать характеристики фрейма данных.
Решение:
Одна из самых простых вещей, которые мы можем сделать после
загрузки данных, – это взглянуть на первые несколько строк с помощью
метода head. На последние строки можно посмотреть с помощью
функции tail. Мы также можем взглянуть на количество строк и
столбцов: dataframe.shape. Кроме того, используя метод describe, мы
можем получить описательную статистику для любых числовых
столбцов

In [5]:
display(dataframe.head(2)) # взглянуть на первые несколько строк
dataframe.tail(3) # последние строки
dataframe.shape # кол-во строк и столбцов
dataframe.describe() # описательная статистика для любых числовых столбцов

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

2.2.6 Пример
Задача:
Выберите индивидуальные данные или срезы фрейма данных.
Решение:
Для выбора одной или нескольких строк, либо значений, можно
использовать методы 1ос или iloc.

In [ ]:
dataframe.iloc[1:4]

2.2.7 Пример
Задача:
Требуется отобрать строки фрейма данных на основе некоторого
условия. Необходимо сформировать новый фрейм данных из пассажиров
первого класса.

In [13]:
dataframe[dataframe['PClass'] == '1st'].head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

2.3.1 Задание
Задача:
Найдитн евклидово расстояние между двумя Series (точками) a и b, не
используя встроенную формулу.

In [7]:
import numpy as np
a = np.array((3, 0, 3))
b = np.array((3, 3, 3))

square = np.square(a - b)
sum_square = np.sum(square)

distance = np.sqrt(sum_square)
print(distance)

3.0

2.3.2 Задание
Задача:
Найдите в Интернете ссылку на любой csv файл и сформируйте из него
фрейм данных (например, коллекцию фреймов данных можно найти
здесь: https://github.com/akmand/datasets

In [9]:
url='https://raw.githubusercontent.com/akmand/datasets/main/anneal.csv' # Создать URL-адрес
dataframe=pd.read_csv(url) # Загрузить данные

dataframe.head(7)

,family,product-type,steel,carbon,hardness,temper_rolling,condition,formability,strength,non-ageing,...,s,p,shape,thick,width,len,oil,bore,packing,class
0,?,C,A,8,0,?,S,?,0,?,...,?,?,COIL,0.700,610.0,0,?,0,?,3
1,?,C,R,0,0,?,S,2,0,?,...,?,?,COIL,3.200,610.0,0,?,0,?,3
2,?,C,R,0,0,?,S,2,0,?,...,?,?,SHEET,0.700,1300.0,762,?,0,?,3
3,?,C,A,0,60,T,?,?,0,?,...,?,?,COIL,2.801,385.1,0,?,0,?,3
4,?,C,A,0,60,T,?,?,0,?,...,?,?,SHEET,0.801,255.0,269,?,0,?,3
5,?,C,A,0,45,?,S,?,0,?,...,?,?,COIL,1.600,610.0,0,?,0,?,3
6,?,C,R,0,0,?,S,2,0,?,...,?,?,SHEET,0.699,610.0,4880,Y,0,?,3

2.3.3 Задание
Задача:
Проделайте с получившемся из предыдущего задания фреймом данных
те же действия, что и в примерах 2.2.5-2.2.7.

In [6]:
url='https://raw.githubusercontent.com/akmand/datasets/main/anneal.csv'

dataframe=pd.read_csv(url)
dataframe.head(10) # первые 10 строк
dataframe.tail(3) # последние 3 строки
dataframe.shape # кол-во строк и столбцов
dataframe.describe() # описательная статистика для любых числовых столбцов
dataframe.iloc[1:4] # для выбора 1 или нескольких строк, либо значений
dataframe[dataframe['steel'] == 'A'].head(5) # новый фрейм из условия

,family,product-type,steel,carbon,hardness,temper_rolling,condition,formability,strength,non-ageing,...,s,p,shape,thick,width,len,oil,bore,packing,class
0,?,C,A,8,0,?,S,?,0,?,...,?,?,COIL,0.700,610.0,0,?,0,?,3
3,?,C,A,0,60,T,?,?,0,?,...,?,?,COIL,2.801,385.1,0,?,0,?,3
4,?,C,A,0,60,T,?,?,0,?,...,?,?,SHEET,0.801,255.0,269,?,0,?,3
5,?,C,A,0,45,?,S,?,0,?,...,?,?,COIL,1.600,610.0,0,?,0,?,3
7,?,C,A,0,0,?,S,2,0,?,...,?,?,COIL,3.300,152.0,0,?,0,?,3

3.2.1. Пример
Задача:
Прошкалируйте числовой признак в диапазон между двумя значениями.

In [5]:
import numpy as np
from sklearn import preprocessing

# Создать признак
feature = np.array([[-500.5], [-100.1], [0], [100.1], [900.9]])
# Создать шкалировщик
minmax_scale = preprocessing.MinMaxScaler(feature_range = (0, 1))

# Прошкалировать признак
scaled_feature = minmax_scale.fit_transform(feature)

# Показать прошкалированный признак
scaled_feature

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

3.2.2. Пример
Задача:
Преобразуйте признак, чтобы он имел среднее значение 0 и стандартное
отклонение 1.

In [9]:
x = np.array([[-1000.1], [-200.2], [500.5], [600.6], [9000.9]])

# Создать шкалировщик
scaler = preprocessing.StandardScaler()
# Преобразовать признак
standardized = scaler.fit_transform(x)
# Показать признак
standardized

# Мы можем увидеть эффект стандартизации, обратившись к среднему значению и стандартному отклонению результата нашего решения
print("Среднее:", round(standardized.mean()))
print("Стандартное отклонение:", standardized.std())

Среднее: 0
Стандартное отклонение: 1.0

3.2.3. Пример
Задача:
Дан фрейм данных
dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
'B':[103.02,107.26,110.35,114.23,114.68],
'C':['big','small','big','small','small']})
Необходимо масштабировать его числовые столбцы

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
                       'B':[103.02,107.26,110.35,114.23,114.68],
                       'C':['big','small','big','small','small']})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])
dfTest

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

3.3.2 Задание
Задача:
Загрузить фрейм данных по ссылке:
https://raw.githubusercontent.com/akmand/datasets/master/iris.csv.
Необходимо выполнить нормализацию первого числового признака
(sepal_length_cm) с использованием минимаксного преобразования, а
второго (sepal_width_cm) с задействованием z-масштабирования.

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv('https://raw.githubusercontent.com/akmand/datasets/master/iris.csv')

first = [[item] for item in data['sepal_length_cm']]
second = [[item] for item in data['sepal_width_cm']]

minmax_scaled = MinMaxScaler().fit_transform(first) # минимаксное преобразование
standardized = StandardScaler().fit_transform(second) # z-масштабирование

print('Минимакс преобразование:\n', minmax_scaled)
print()
print()
print('Z-преобразование:\n', standardized)

Минимакс преобразование:
 [[0.22222222]
 [0.16666667]
 [0.11111111]
 [0.08333333]
 [0.19444444]
 [0.30555556]
 [0.08333333]
 [0.19444444]
 [0.02777778]
 [0.16666667]
 [0.30555556]
 [0.13888889]
 [0.13888889]
 [0.        ]
 [0.41666667]
 [0.38888889]
 [0.30555556]
 [0.22222222]
 [0.38888889]
 [0.22222222]
 [0.30555556]
 [0.22222222]
 [0.08333333]
 [0.22222222]
 [0.13888889]
 [0.19444444]
 [0.19444444]
 [0.25      ]
 [0.25      ]
 [0.11111111]
 [0.13888889]
 [0.30555556]
 [0.25      ]
 [0.33333333]
 [0.16666667]
 [0.19444444]
 [0.33333333]
 [0.16666667]
 [0.02777778]
 [0.22222222]
 [0.19444444]
 [0.05555556]
 [0.02777778]
 [0.19444444]
 [0.22222222]
 [0.13888889]
 [0.22222222]
 [0.08333333]
 [0.27777778]
 [0.19444444]
 [0.75      ]
 [0.58333333]
 [0.72222222]
 [0.33333333]
 [0.61111111]
 [0.38888889]
 [0.55555556]
 [0.16666667]
 [0.63888889]
 [0.25      ]
 [0.19444444]
 [0.44444444]
 [0.47222222]
 [0.5       ]
 [0.36111111]
 [0.66666667]
 [0.36111111]
 [0.41666667]
 [0.52777778]
 [0.36111111]
 [0.44444444]
 [0.5       ]
 [0.55555556]
 [0.5       ]
 [0.58333333]
 [0.63888889]
 [0.69444444]
 [0.66666667]
 [0.47222222]
 [0.38888889]
 [0.33333333]
 [0.33333333]
 [0.41666667]
 [0.47222222]
 [0.30555556]
 [0.47222222]
 [0.66666667]
 [0.55555556]
 [0.36111111]
 [0.33333333]
 [0.33333333]
 [0.5       ]
 [0.41666667]
 [0.19444444]
 [0.36111111]
 [0.38888889]
 [0.38888889]
 [0.52777778]
 [0.22222222]
 [0.38888889]
 [0.55555556]
 [0.41666667]
 [0.77777778]
 [0.55555556]
 [0.61111111]
 [0.91666667]
 [0.16666667]
 [0.83333333]
 [0.66666667]
 [0.80555556]
 [0.61111111]
 [0.58333333]
 [0.69444444]
 [0.38888889]
 [0.41666667]
 [0.58333333]
 [0.61111111]
 [0.94444444]
 [0.94444444]
 [0.47222222]
 [0.72222222]
 [0.36111111]
 [0.94444444]
 [0.55555556]
 [0.66666667]
 [0.80555556]
 [0.52777778]
 [0.5       ]
 [0.58333333]
 [0.80555556]
 [0.86111111]
 [1.        ]
 [0.58333333]
 [0.55555556]
 [0.5       ]
 [0.94444444]
 [0.55555556]
 [0.58333333]
 [0.47222222]
 [0.72222222]
 [0.66666667]
 [0.72222222]
 [0.41666667]
 [0.69444444]
 [0.66666667]
 [0.66666667]
 [0.55555556]
 [0.61111111]
 [0.52777778]
 [0.44444444]]


Z-преобразование:
 [[ 1.03205722]
 [-0.1249576 ]
 [ 0.33784833]
 [ 0.10644536]
 [ 1.26346019]
 [ 1.95766909]
 [ 0.80065426]
 [ 0.80065426]
 [-0.35636057]
 [ 0.10644536]
 [ 1.49486315]
 [ 0.80065426]
 [-0.1249576 ]
 [-0.1249576 ]
 [ 2.18907205]
 [ 3.11468391]
 [ 1.95766909]
 [ 1.03205722]
 [ 1.72626612]
 [ 1.72626612]
 [ 0.80065426]
 [ 1.49486315]
 [ 1.26346019]
 [ 0.56925129]
 [ 0.80065426]
 [-0.1249576 ]
 [ 0.80065426]
 [ 1.03205722]
 [ 0.80065426]
 [ 0.33784833]
 [ 0.10644536]
 [ 0.80065426]
 [ 2.42047502]
 [ 2.65187798]
 [ 0.10644536]
 [ 0.33784833]
 [ 1.03205722]
 [ 0.10644536]
 [-0.1249576 ]
 [ 0.80065426]
 [ 1.03205722]
 [-1.74477836]
 [ 0.33784833]
 [ 1.03205722]
 [ 1.72626612]
 [-0.1249576 ]
 [ 1.72626612]
 [ 0.33784833]
 [ 1.49486315]
 [ 0.56925129]
 [ 0.33784833]
 [ 0.33784833]
 [ 0.10644536]
 [-1.74477836]
 [-0.58776353]
 [-0.58776353]
 [ 0.56925129]
 [-1.51337539]
 [-0.35636057]
 [-0.8191665 ]
 [-2.43898725]
 [-0.1249576 ]
 [-1.97618132]
 [-0.35636057]
 [-0.35636057]
 [ 0.10644536]
 [-0.1249576 ]
 [-0.8191665 ]
 [-1.97618132]
 [-1.28197243]
 [ 0.33784833]
 [-0.58776353]
 [-1.28197243]
 [-0.58776353]
 [-0.35636057]
 [-0.1249576 ]
 [-0.58776353]
 [-0.1249576 ]
 [-0.35636057]
 [-1.05056946]
 [-1.51337539]
 [-1.51337539]
 [-0.8191665 ]
 [-0.8191665 ]
 [-0.1249576 ]
 [ 0.80065426]
 [ 0.10644536]
 [-1.74477836]
 [-0.1249576 ]
 [-1.28197243]
 [-1.05056946]
 [-0.1249576 ]
 [-1.05056946]
 [-1.74477836]
 [-0.8191665 ]
 [-0.1249576 ]
 [-0.35636057]
 [-0.35636057]
 [-1.28197243]
 [-0.58776353]
 [ 0.56925129]
 [-0.8191665 ]
 [-0.1249576 ]
 [-0.35636057]
 [-0.1249576 ]
 [-0.1249576 ]
 [-1.28197243]
 [-0.35636057]
 [-1.28197243]
 [ 1.26346019]
 [ 0.33784833]
 [-0.8191665 ]
 [-0.1249576 ]
 [-1.28197243]
 [-0.58776353]
 [ 0.33784833]
 [-0.1249576 ]
 [ 1.72626612]
 [-1.05056946]
 [-1.97618132]
 [ 0.33784833]
 [-0.58776353]
 [-0.58776353]
 [-0.8191665 ]
 [ 0.56925129]
 [ 0.33784833]
 [-0.58776353]
 [-0.1249576 ]
 [-0.58776353]
 [-0.1249576 ]
 [-0.58776353]
 [ 1.72626612]
 [-0.58776353]
 [-0.58776353]
 [-1.05056946]
 [-0.1249576 ]
 [ 0.80065426]
 [ 0.10644536]
 [-0.1249576 ]
 [ 0.10644536]
 [ 0.10644536]
 [ 0.10644536]
 [-0.8191665 ]
 [ 0.33784833]
 [ 0.56925129]
 [-0.1249576 ]
 [-1.28197243]
 [-0.1249576 ]
 [ 0.80065426]
 [-0.1249576 ]]